<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en-us">
    <base href="{global.baseUrl}">

    <title>{head.title} | {global.appName}</title>
    <meta name="description" content="{head.description}">

    <link type="image/x-icon" rel="icon" href="favicon.ico">
    <script type="text/javascript" charset="utf-8" src="public/app.js"></script>
    <link rel="stylesheet" type="text/css" href="public/app.css">
  </head>
  <body class="{body.class}">
    <div class="wrapper">
      <header class="header">
        <a class="logo" href="/">
          <img src="public/logo.png" alt="Main Logo">
        </a>
        <nav>
          <ul class="menu">
            <li>
              <a href="/">Home</a>
            </li>
            <li class="logged-out">
              <a href="/account/create">Signup</a>
            </li>
            <li class="logged-in">
              <a href="/session/create">Login</a>
            </li>
            <li class="logged-in">
              <a href="/checks/all">Dashboard</a>
            </li>
            <li class="logged-in">
              <a href="/account/edit">Account Settings</a>
            </li>
            <li class="logged-in">
              <a href="#">Logout</a>
            </li>
          </ul>
        </nav>
      </header>

      <div class="content">
